{
  "env": {
    "node": true,
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "IMask": "writable"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": ["standard"],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}
